extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Websites
      article.portfolio-project-thumbs
        .projects-box.box.grid
          .webcell
            a(href='https://www.characterwork.com')
              img.thumbnail(src='/static/images/ccbl.png', alt='Photo of Giles')
              h5 characterwork.com

            a(href=`https://www.mtdwi.com`)
              img.thumbnail(src='/static/images/mtdwi.png', alt='site image')
              h5 mtdwi.com

              
    p Print Work
      article.portfolio-project-thumbs
        .projects-box.box.grid
          .webcell
            a(href='/design')
              img.thumbnail(src='static/images/4ballsCrop.png', alt='4 balls sample page')
              h5 Graphic Design

            a(href='static/images/cultureCrop.png')
              img.thumbnail(src='static/images/cultureCrop.png', alt='Culture crop sample page')
              h5 Print Design
  
          
    p Design and Illustration
      article.portfolio-project-thumbs
        .projects-box.box.grid
          .webcell
            a(href='static/images/4ballsCrop.png')
              img.thumbnail(src='static/images/4ballsCrop.png', alt='4 balls sample page')

            a(href='static/images/cultureCrop.png')
              img.thumbnail(src='static/images/cultureCrop.png', alt='Culture crop sample page')

    p Here are a few javascript projects. 

    block project

    block design

      article.portfolio-project-thumbs
        .projects-box.box.grid
          each project in projects 
            .cell
              a(href= `/project/${project.id}`)
              img.thumbnail(src=`${project.image_urls[0]}`, alt= `${project.project_name}`)
              h5 #{project.project_name}

      article.portfolio-project-thumbs
        .projects-box.box.grid
          each design in designs 
            .cell
              a(href= `/project/${project.id}`)
              img.thumbnail(src= `${project.image_urls[0]}`, alt= `${project.project_name}`)
              h5 #{project.project_name}





